# Si usas el frontend con nginx proxy interno, deja /api
VITE_API_URL=/api
VITE_SELF_REGISTER_ENABLED=false
VITE_CONTACT_EMAIL=
VITE_CONTACT_PHONES=+54 9 2604618942,+54 9 1151104758
VITE_CONTACT_DEMO_SUBJECT=Solicitud de demo KPI Manager
